starlette
uvicorn
fastapi
astroid==3.3.11
certifi==2025.8.3
charset-normalizer==3.4.3
dill==0.4.0
dotenv==0.9.9
idna==3.10
isort==6.0.1
mccabe==0.7.0
numpy==2.3.3
pandas==2.3.2
pandas-stubs==2.3.2.250827
platformdirs==4.4.0
pylint==3.3.8
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
six==1.17.0
tabulate==0.9.0
tomlkit==0.13.3
tzdata==2025.2
urllib3==2.5.0
